{% extends 'base.html' %}
{% block body %}
    <div class="container is-fluid is-marginless">
        <div class="heading">
            <h1>Geo-Data of African Cup of Nations</h1>
        </div>
        <div class="buttons">
            <a class="button is-large is-dark" href="{% url 'home:first' %}">2013</a>
            <a class="button is-large is-dark" href="{% url 'home:second' %}">2015</a>
            <a class="button is-large is-dark" href="{% url 'home:third' %}">2017</a>
        </div>
    </div>
    <style>
        .container{
            height: 100vh;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .heading{
            flex-basis: 100%;
        }
        .buttons{
            display: flex;
            flex-basis: 80%;
            justify-content: space-around;
        }

        h1{
            font-size: 48px;
        }
    </style>

{% endblock %}